/* Empty. Add your own CSS if you like */

.indexUno{
	width: 100%;
	background-size: 400px auto;
	background-image: url("../img/Fbckground.png");
}

.logo-container{
	text-align: center;
}

.logo-splash{
	width: 200px;
	margin-top: 25vh;
}

.white{
	color: #fff !important;
}

.transparent{
	background-color: transparent !important;
}

.register label{
	margin-top: 4px;
	height: 50px;
	border-radius: 2px;
}

hr{
	color: #999;
	opacity: 0.6;
}

.register p {
	color: #fff;
	display: inline-block;
	margin: 10px;
}

.register button{
	background-color: #FFB34E !important;
	border: none;
}