
<ion-view  view-title="Recomendations" class="indexUno payments">
<a href="#/tab/register/business" class="button icon-left ion-chevron-left button-clear button-dark white">Back</a>
  <ion-content >

    <div class="list list-inset transparent">
    <div class="container">
		<img ng-show="type" src="img/fama2.png" alt="business" class="img-register">
    <img ng-show="!type" src="img/fama1.png" alt="business" class="img-register">

	</div>

  <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/1.jpg">
      <h2>Fly with Volaris</h2>
      <p>Promotions</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/2.jpg">
      <h2>Visit the new museum</h2>
      <p>Modern Art</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/3.jpg">
      <h2>Visit the new museum in the city</h2>
      <p>Conceptual Art</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/4.jpg">
      <h2>Food</h2>
      <p>Promotion</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/5.jpg">
      <h2>Dinner</h2>
      <p>:)</p>
    </a>


</div>

    </div>
  </ion-content>
</ion-view>
