
<ion-view  class="indexUno register">
<a href="#/tab/index/choose" class="button icon-left ion-chevron-left button-clear button-dark white">Back</a>
  <ion-content >

    <div class="list list-inset transparent">
    <div class="container">
		<img src="img/fama1.png" alt="persons" class="img-register">
	</div>
      <label class="item item-input">
        <input ng-model="country" name="country" type="text" placeholder="Country">
      </label>
      <label class="item item-input">
        <input ng-model="state" name="state" type="text" placeholder="State">
      </label>
      <label class="item item-input">
        <input ng-model="zipcode" name="zip-code" type="text" placeholder="Zip Code">
      </label>
      <label class="item item-input">
        <input ng-model="address" name="address" type="text" placeholder="Address(Street, number)">
      </label>

	  <br><hr><br>

      <label class="item item-input">
        <input ng-model="phone" name="phone" type="number" placeholder="Telephone">
      </label>

      <br>
      <button ng-click="next()" class="button button-block button-positive yellow">
        Next
      </button>
    </div>
  </ion-content>
</ion-view>
